<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#store-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Category Management</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="store-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/categoriesadd">
            <i class="bi bi-circle"></i><span>Add Category</span>
          </a>
        </li>
        <li>
          <a href="/categorieslist">
            <i class="bi bi-circle"></i><span>View Categories</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#task-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-list-check"></i><span>Reminder Task Management</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="task-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/tasksadd">
            <i class="bi bi-circle"></i><span>Add Task</span>
          </a>
        </li>
        <li>
          <a href="/taskslist">
            <i class="bi bi-circle"></i><span>View Tasks</span>
          </a>
        </li>
      </ul>
    </li>




  </ul>


</aside><!-- End Sidebar-->